---
layout: page
title: 关于
header: about me
group: navigation
index: 4
---
{% include codepiano/setup %}

<h2 id="">关于我</h2>

<ul>
  <li>大众版</li>
</ul>

<p>Android开发者+H5语言爱好者+Php学习者,爱技术,爱开源,懂设计,爱赚钱。用技术创造和实现自我价值,不断提高自己！</p>

<ul>
  <li>Ruby版</li>
</ul>

{% highlight ruby %}
name = 'Leo'
real_name = '税华城'
description = 'Android Developer, H5 Fans, Love Open Source'
company = '小米科技'

sina_weibo = 'LeoSandy'
email = 'stormzhang.dev$#mail.com'.gsub('$#', '@')
blog = 'http://shuihuacheng.github.io'
github = 'https://github.com/shuihuacheng'

while true
programing
reading
enjoying
end
{% endhighlight %}

<h2 id="_2">联系我</h2>

<ul>
  <li>
    <p>GitHub: <a href="https://github.com/shuihuacheng">shuihuacheng</a></p>
  </li>

  <li>
    <p>微博: <a href="http://weibo.com/LeoSandy">LeoSandy</a></p>
  </li>

  <br />

  <hr>
  <div id="comment-hook"></div>
  {% include custom/duoshuo.html %}